{% load static %}

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="{% url 'index' %}"><img id="brand" src="{% static 'img/vill.jfif' %}" alt="logo" /></a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'about' %}" class="page-scroll">About</a></li>
          <li><a href="#services" class="page-scroll">Services</a></li>
          <li><a href="{% url 'project:display_products' %}" class="page-scroll">Projects</a></li>
          <li><a href="#team" class="page-scroll">Team</a></li>
          <li><a href="{% url 'contact_us'%}" class="page-scroll">Contact</a></li>
          <li><a href="{% url 'events:list_events'%}" class="page-scroll">Events</a></li>
          <li><a href="{% url 'blog:view_posts'%}" class="page-scroll">Blog</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'account_logout' %}" class="page-scroll">Log out</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}" class="page-scroll">Log in</a></li>
          <li><a href="{% url 'account_signup' %}" class="page-scroll">Sign up</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
  </nav>